main {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    text-align: left;
}
.ba {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25pt;
}
.topnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 1ch;

}
.m {
    background-color: rgb(234, 232, 245);
    border: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
    border-radius: 25px;
    padding: 5px;
    margin: auto;
}
.c {
    background-color: rgb(234, 232, 245);
    border: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
    border-radius: 25px;
    padding: 5px;
    margin: auto;
}
.r {
    background-color: rgb(234, 232, 245);
    border: 2px;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
    padding: 5px;
    margin: auto;
}
.a {
    background-color: rgb(228, 227, 233);
    border: 2px;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
    padding: 5px;
    margin: auto;
}
.sidenav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif; size: 16px;
}
.br {
    display:flex ;
    column-gap: 5px;
    border: 2px;
    border-radius: 25px;
    background-color: rgb(248, 198, 234);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
    margin-bottom: 5%;
    padding: 2px;
    border: none;
}
.ca  {
    display:flex ;
    column-gap: 5px;
    border: 2px;
    border-radius: 25px;
    background-color: rgb(248, 198, 234);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
    margin-bottom: 5%;
    padding: 2px;
    border: none;
}
.co  {
    display:flex ;
    column-gap: 5px;
    border: 2px;
    border-radius: 25px;
    background-color: rgb(248, 198, 234);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
    margin-bottom: 5%;
    padding: 2px;
    border: none;
}
.mu  {
    display:flex ;
    column-gap: 5px;
    border: 2px;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
    background-color: rgb(248, 198, 234);
    margin-bottom: 5%;
    padding: 2px;
    border: none;
}
.pi  {
    display:flex ;
    background-color: rgb(248, 198, 234);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
    border: 2px;
    border-radius: 25px;
    margin: auto;
    padding: 2px;
    border: none;
}
.title {
    display: flex;
    margin-top: 15%;
    margin-left: 3%;
    flex-direction: column;
    column-span: all;
    align-items: center;
    justify-content: center;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.testimonial {
    display: flex;
    background-color: rgb(231, 236, 241);
}
.sa {
    display: flex;
    margin-top: 10%;
    font-style: italic;
}
.foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(212, 177, 246);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:12pt;
}
