main {
    display: flex;
    flex-grow: 2;
    justify-content: right;
    text-align: left;
}
.topnav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    text-align: center;
    gap: 1ch;
    font-family: Arial, Helvetica, sans-serif; size: 16px;

}
.m {
    background-color: rgb(234, 232, 245);
    border: none;
    padding: 5px;
    margin: auto;
}
.c {
    background-color: rgb(234, 232, 245);
    border: none;
    padding: 5px;
    margin: auto;
}
.r {
    background-color: rgb(234, 232, 245);
    border: none;
    padding: 5px;
    margin: auto;
}
.a {
    background-color: rgb(228, 227, 233);
    border: none;
    padding: 5px;
    margin: auto;
}
.sidenav {
    display: flex;
    flex-direction: column;
    gap: 2ch;
    align-items: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; size: 16px;
}
.br {
    display:flex ;
    column-gap: 5px;
    flex-flow: row wrap;
    background-color: rgb(248, 198, 234);
    margin-bottom: 5%;
    padding: 2px;
    border: none;
}
.ca  {
    display:flex ;
    column-gap: 5px;
    flex-flow: row wrap;
    background-color: rgb(248, 198, 234);
    margin-bottom: 5%;
    padding: 2px;
    border: none;
}
.co  {
    display:flex ;
    column-gap: 5px;
    flex-flow: row wrap;
    background-color: rgb(248, 198, 234);
    margin-bottom: 5%;
    padding: 2px;
    border: none;
}
.mu  {
    display:flex ;
    column-gap: 5px;
    flex-flow: row wrap;
    background-color: rgb(248, 198, 234);
    margin-bottom: 5%;
    padding: 2px;
    border: none;
}
.pi  {
    display:flex ;
    column-gap: 5px;
    flex-flow: row wrap;
    background-color: rgb(248, 198, 234);
    margin: auto;
    padding: 2px;
    border: none;
}
.title {
    display: flex;
    margin-top: 15%;
    margin-left: 3%;
    flex-direction: column;
    column-span: all;
    align-items: center;
    justify-content: center;
}
.info {
    display: flex;
    background-color: rgb(253, 255, 255);
    margin-top: 10%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.testimonial {
    display: flex;
    background-color: rgb(231, 236, 241);
}
.sa {
    display: flex;
    margin-top: 10%;
    font-style: italic;
}
.foot {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    background-color: rgb(212, 177, 246);
    font-family: Arial, Helvetica, sans-serif;
    font-size:12pt;
}
